img {
    display: block;
    max-width: 100%;
    height: auto;
}

.highlight {
    border-radius: 3px;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6,
.headerlink 
{
    color: #F5A623;
}


h1 .headerlink, 
h2 .headerlink, 
.toctree-wrapper p.caption .headerlink, 
h3 .headerlink, 
h4 .headerlink, 
h5 .headerlink, 
h6 .headerlink, 
dl dt .headerlink, 
p.caption .headerlink {
    visibility: hidden;
    font-size: 14px;
}

h1 .headerlink::after, 
h2 .headerlink::after, 
.toctree-wrapper p.caption .headerlink::after, 
h3 .headerlink::after, 
h4 .headerlink::after, 
h5 .headerlink::after, 
h6 .headerlink::after, 
dl dt .headerlink::after, 
p.caption .headerlink::after {
    visibility: visible;
    content: "\f13d";
    font-family: FontAwesome;
}
