img {
    display: block;
    max-width: 100%;
    height: auto;
}

.highlight {
    border-radius: 3px;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6,
.headerlink 
{
    color: #F5A623;
}


.rst-content h1 .headerlink, 
.rst-content h2 .headerlink, 
.rst-content .toctree-wrapper p.caption .headerlink, 
.rst-content h3 .headerlink, 
.rst-content h4 .headerlink, 
.rst-content h5 .headerlink, 
.rst-content h6 .headerlink, 
.rst-content dl dt .headerlink, 
.rst-content p.caption .headerlink {
    display: none;
    visibility: hidden;
    font-size: 14px;
}
